<!DOCTYPE html>
<html>
  <head>
    <title>BeltReviewer</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:errors] %>
      <% flash[:errors].each do |e| %>
        <p><%= e %></p>
      <% end %>
    <% end %>
    <% if current_user %>
    <div class="logout">
      <form action="/sessions/new" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Log Out" name="Log Out">
      </form>
    </div>
    <% end %>
      <%= yield %>
  </body>
</html>
